@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: "Inter var", sans-serif;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0 !important;
  }

  details summary {
    cursor: pointer;
  }
}

@layer components {
  .toggle-xl {
    --handleoffset: 2.5rem;
    height: 3rem;
    width: 5rem;
  }

  .btn {
    @apply no-animation font-black rounded-full gap-2;
    letter-spacing: 0.1em;
    font-size: 0.75rem;
  }

  .btn:active,
  .btn:active:focus {
    transform: translateY(2px);
  }

  .btn-wide {
    width: auto;
    padding-left: 4em;
    padding-right: 4em;
  }

  .btn-action {
    @apply btn-ghost btn-circle;
    min-height: 0;
    font-size: 0.9rem;
  }

  .btn-action:disabled {
    @apply btn-disabled;
  }

  .btn-outline {
    border-color: #777;
  }

  .btn-form-group {
    @apply flex justify-between gap-2;
  }

  .btn.btn-only-loader[data-loading="true"]:before {
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .label-text {
    @apply font-bold;
  }

  .toggle-container {
    @apply relative w-fit text-base-100;
  }

  .toggle-no-label {
    @apply absolute top-1/2 left-2 -translate-y-1/2 text-xs font-bold pointer-events-none;
  }

  .toggle-yes-label {
    @apply absolute top-1/2 right-2 -translate-y-1/2 text-xs font-bold pointer-events-none;
  }

  .loading:before {
    animation-duration: 0.8s !important;
  }

  .table {
    @apply mt-0 border border-base-300 w-full;
  }

  tr.align-top th,
  tr.align-top td {
    vertical-align: top;
  }

  .table :where(thead, tfoot) :where(th, td) {
    @apply font-black;
  }

  .toast {
    @apply print:hidden z-[1000];
  }

  .toast .alert {
    pointer-events: all;
  }

  .modal {
    @apply modal-bottom sm:modal-middle;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
  }

  .modal-box {
    @apply md:max-w-xl p-0;
  }

  .modal-sm .modal-box {
    @apply md:max-w-md;
  }

  .modal-lg .modal-box {
    @apply md:max-w-2xl;
  }

  .modal-content {
    @apply p-4;
  }

  .modal-action {
    @apply bg-base-200 p-4 m-0;
  }

  .editable {
    cursor: pointer;
  }

  .editable > :first-child {
    border: 1px solid hsl(var(--s));
    position: relative;
    padding: 4px;
    outline: none;
  }
  .editable > :first-child:focus {
    cursor: text;
    border-color: hsl(var(--p));
  }

  .editable > :first-child:focus:before {
    background-color: hsl(var(--p));
  }

  .editable > :first-child:before {
    @apply rounded-full;

    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 16px;
    height: 16px;
    background-color: hsl(var(--s));
  }

  .app-sidebar {
    @apply fixed left-[100%] top-0 z-50 h-screen bg-base-100 w-80 transition-transform border-base-300 translate-x-0;
    @apply lg:h-full lg:static lg:z-0 lg:p-0 lg:border-x print:hidden;
  }

  .app-sidebar[data-opened="true"] {
    @apply -translate-x-full lg:transform-none;
  }

  .app-sidebar-backdrop {
    @apply fixed right-0 top-0 z-50 bg-black/60 w-full h-screen backdrop-blur-sm opacity-0 pointer-events-none;
  }

  .app-sidebar-backdrop[data-opened="true"] {
    @apply opacity-100 pointer-events-auto lg:opacity-0 lg:pointer-events-none print:hidden;
  }

  .table tr:nth-child(even) :where(td, th) {
    @apply bg-opacity-50 bg-base-200;
  }

  .table tbody :where(td, th) {
    @apply py-2 px-4;
  }

  .table-actions {
    @apply menu menu-horizontal bg-base-300 rounded-box text-lg;
  }

  .menu li :disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .badge {
    @apply font-bold font-brand;
  }

  .alert {
    @apply font-bold;
    --tw-prose-bullets: currentColor;
    --tw-prose-counters: currentColor;
  }

  .dropdown-content {
    @apply shadow-lg shadow-base-300;
  }
}

@layer utilities {
  .w-content {
    @apply w-full px-4 xl:px-0 xl:container mx-auto;
  }

  .w-content-sm {
    @apply max-w-[600px];
  }

  .w-form {
    @apply max-w-lg w-full;
  }
}

[data-loading="true"] {
  @apply loading;
}

[data-loading="true"]:before {
  animation-duration: 0.8s !important;
  border-radius: 100%;
}

.btn[data-loading="true"]:before {
  width: 1em;
  height: 1em;
}

[data-open="true"] {
  @apply modal-open;
}

[data-open="false"] {
  @remove modal-close;
}

@media print {
  nextjs-portal {
    display: none;
  }
}
