@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "JetBrains Mono", monospace;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0 !important;
  }

  details summary {
    cursor: pointer;
  }
}

@layer components {
  .toggle-xl {
    --handleoffset: 2.5rem;
    height: 3rem;
    width: 5rem;
  }

  .btn {
    @apply no-animation font-bold rounded-full;
  }

  .btn:active,
  .btn:active:focus {
    transform: translateY(2px);
  }

  .btn-wide {
    width: auto;
    padding-left: 4em;
    padding-right: 4em;
  }

  .btn-action {
    @apply btn-ghost btn-circle;
    min-height: 0;
  }

  .btn-form-group {
    @apply flex justify-between gap-2;
  }

  .label-text {
    @apply font-bold;
  }

  .toggle-container {
    @apply relative w-fit text-base-100;
  }

  .toggle-no-label {
    @apply absolute top-1/2 left-2 -translate-y-1/2 text-xs font-bold pointer-events-none;
  }

  .toggle-yes-label {
    @apply absolute top-1/2 right-2 -translate-y-1/2 text-xs font-bold pointer-events-none;
  }

  .loading:before {
    animation-duration: 0.8s !important;
  }

  .table {
    @apply mt-0;
  }

  tr.align-top th,
  tr.align-top td {
    vertical-align: top;
  }

  .toast {
    @apply print:hidden z-[1000];
  }

  .toast .alert {
    pointer-events: all;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
  }

  .editable {
    cursor: pointer;
  }

  .editable > :first-child {
    border: 1px solid hsl(var(--s));
    position: relative;
    padding: 4px;
    outline: none;
  }
  .editable > :first-child:focus {
    cursor: text;
    border-color: hsl(var(--p));
  }

  .editable > :first-child:focus:before {
    background-color: hsl(var(--p));
  }

  .editable > :first-child:before {
    @apply rounded-full;

    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 16px;
    height: 16px;
    background-color: hsl(var(--s));
  }

  .app-sidebar {
    @apply fixed left-[100%] top-0 z-50 h-screen bg-base-100 w-80 transition-transform border-base-300 translate-x-0;
    @apply md:h-full md:static md:z-0 md:p-0 md:border-x print:hidden;
  }

  .app-sidebar[data-opened="true"] {
    @apply -translate-x-full md:transform-none;
  }

  .app-sidebar-backdrop {
    @apply fixed right-0 top-0 z-50 bg-black/60 w-full h-screen backdrop-blur-sm opacity-0 pointer-events-none;
  }

  .app-sidebar-backdrop[data-opened="true"] {
    @apply opacity-100 pointer-events-auto md:opacity-0 md:pointer-events-none print:hidden;
  }

  .table tr:nth-child(even) :where(td, th) {
    @apply bg-opacity-50 bg-base-200;
  }

  .table tbody :where(td, th) {
    @apply py-2 px-4;
  }

  .table-actions {
    @apply menu menu-horizontal bg-base-300 rounded-box text-lg;
  }
}

@layer utilities {
  .w-content {
    @apply container mx-auto;
  }

  .w-content-sm {
    @apply max-w-[600px];
  }
}

[data-loading="true"] {
  @apply loading;
}

[data-loading="true"]:before {
  animation-duration: 0.8s !important;
}

[data-open="true"] {
  @apply modal-open;
}

[data-open="false"] {
  @remove modal-close;
}

@media print {
  nextjs-portal {
    display: none;
  }
}
